<?xml version="1.0"?>
<launch>

  <arg name="robot_model" default="hera_full"/>

  <arg name="robot_name" 	default="robot"/>
  <arg name="init_pos_x" 	default="-2.250574"/>
  <arg name="init_pos_y" 	default="3.592245"/>
  <arg name="init_pos_z" 	default="0.005000"/>
  <arg name="init_yaw"   	default="-1.546853"/>

  <arg name="use_jsp_gui" default="true"/>

  <!-- load robot_description -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find hera_description)/robots/$(arg robot_model).urdf.xacro"/>

  <!-- Load joint controller configurations -->
  <rosparam file="$(find hera_control)/config/manip_controller.yaml" command="load"/>

  <!-- publishers -->
  <include file="$(find hera_control)/launch/manip_controller.launch"/>

  <!-- spawn simulated robot -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	      -urdf
	      -x $(arg init_pos_x)
	      -y $(arg init_pos_y)
	      -z $(arg init_pos_z)
	      -Y $(arg init_yaw)
	      -model $(arg robot_name)">
  </node>

</launch>
